* {
  padding: 0;
  margin: 0px auto;
  text-decoration: none;
  cursor: default; }

body {
  background-color: #cccabb; }

.presentation {
  background-color: #cccabb;
  display: block;
  height: 200px;
  width: 90%;
  text-align: center; }
  .presentation h1 {
    font-family: sans-serif;
    color: white;
    padding-top: 100px; }

.navbar {
  display: block;
  height: 100px;
  width: 90%;
  border-top: 2px solid white;
  text-align: center; }
  .navbar .navlink {
    color: white;
    display: inline-block;
    padding: 10 20;
    text-decoration: underline;
    font-size: 1.2em;
    border-right: 2px solid white; }
    .navbar .navlink:last-child {
      border-right: none; }
    .navbar .navlink:hover {
      cursor: pointer;
      color: #fff028; }

.footer {
  display: block;
  height: 100px;
  width: 90%;
  border-top: 2px solid white;
  text-align: center;
  color: white;
  font-size: 1.2em; }
